.sublist_container{
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #ffffff;
    padding-top: 70px;
    margin-top: 4px;
}

.sublist_wrapper{
    width: 1670px;
    margin: 4px auto 0 auto;

    display: flex;
    flex-direction: column;
}

.sublist_title_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sublist_title{
    color: #000000;
    font-size: 50px;
    font-weight: 700;
}

.sublist_addition_wrapper{
    display: flex;
    align-items: center;
}

.sublist_icon{
    margin: 0 20px;
}

.sublist_howuse{
    color: #6C6C6C;
    font-size: 30px;
}

.sublist_howuse img {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 10px;
}

.sublist_addBtn{
    background-color: #67A2D8;
    border-radius: 50px;
    padding: 13px 42px;
    margin-left: 40px;

    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.sublist_main_container{
    width: 1670px;
    height: 600px;
    border: 3px solid #E1E1E1;
    border-radius: 30px;
    margin: 40px 0;
    padding: 0px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }
    
    &:hover::-webkit-scrollbar {
        opacity: 1;
        transition: opacity 0.7s ease-in-out;
    }
    
    &:hover::-webkit-scrollbar-thumb {
        background-color: #999999;
        border-radius: 4px;
        transition: opacity 0.3s ease-in-out;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 4px;
    }
}

.sublist_main_content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 50px;
    height: 170px;
}

.sublist_content_wrapper{
    display: flex;
}

.sublist_main_img{
    border-radius: 16px;
    margin-right: 40px;
    
}

.sublist_main_img img{
    object-fit: cover;
}

.sublist_sub_name{
    width: 255px;
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    line-height : 100px;
}

.sublist_sub_date{
    color: #6C6C6C;
    font-size: 30px;
    width: 310px;
    line-height : 100px;
}

.sublist_sub_price{
    color: #000000;
    font-size: 30px;
    line-height : 100px;
}

.sublist_delBtn{
    border: 3px solid #FF566A;
    color: #FF566A;
    border-radius: 30px;
    padding: 10px 35px;

    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.sublist_line{
    height: 2px;
    width: 1567px;
    background-color: #E1E1E1;
    margin: 0 auto;
}

.sublist_total_price_wrapper{
    text-align: end;
}

.sublist_total_price_txt{
    color: #515151;
    font-size: 35px;
    font-weight: 700;
}

.sublist_total_price{
    color: #ff5678;
    font-weight: bold;
    font-size: 55px;
}

/*모달 창*/
.modal_container{
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    width: 1330px;
    height: 670px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_title{
    font-size: 50px;
    font-weight: 700;
    color: #000;
    margin: 20px 0;
}

.modal_table{
    text-align: center;
}

.modal_tr{
    margin-top: 30px;
}

.modal_sub_title{
    height: 85px;
    line-height: 123px;
    font-size: 40px;
    font-weight: 700;
    color: #666666;
    margin-right: 80px;
    margin-top:#fff;
    white-space: nowrap;
}

.modal_select{
    width: 665px;
    height: 85px;
    border-radius: 16px;
    border: 3px solid #D9D9D9;

    font-size: 48px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.modal_option{
    width: 665px;
    height: 85px;
    border-radius: 16px;
    border: 3px solid #D9D9D9;

    font-size: 48px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.modal_date_input{
    width: 500px;
    height: 62px;
    border-radius: 16px;

    font-size: 48px;
    padding: 10px;
    text-align: center;
}

.modal_input{
    width: 665px;
    height: 85px;
    border-radius: 16px;
    border: 3px solid #D9D9D9;

    font-size: 48px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.modal_sub_text div{
    width: 665px;
    height: 85px;
    border-radius: 16px;
    border: 3px solid #D9D9D9;

    font-size: 48px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;

    display: flex;
}

.modal_btn_wrapper{
    display: flex;
    margin: 40px 0;
}

.modal_canBtn{
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    color: #9D9D9D;
    font-size: 36px;
    font-weight: bold;
    padding: 30px 70px;
    margin-right: 30px;
    cursor: pointer;
}

.modal_chkBtn{
    border-radius: 10px;
    background-color: #2E8CE4;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    padding: 30px 70px;
    margin-left: 30px;
    cursor: pointer;
}

/*calendar*/

.datePicker_container{
    position: fixed;
    top: 300;
    left: 300;
}

.datePicker_wrapper{
    position: absolute;
    z-index: 201;
    /* top: 300;
    left: 500; */
}

.datePicker{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    width: 600px;
    height: 85px;
    color: #666666;
    font-size: 48px;
    text-align: center;
    padding-right: 14px;
}