.sublist_container{
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #ffffff;
    padding-top: 150px;
    margin-top: 4px;
}

.sublist_wrapper{
    width: 1670px;
    margin: 4px auto 0 auto;

    display: flex;
    flex-direction: column;
}

.sublist_title_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sublist_title{
    color: #000000;
    font-size: 50px;
    font-weight: 700;
}

.sublist_addition_wrapper{
    display: flex;
    align-items: center;
}

.sublist_icon{
    margin: 0 20px;
}

.sublist_howuse{
    color: #6C6C6C;
    font-size: 30px;
}

.sublist_howuse img {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 10px;
}

.sublist_addBtn{
    background-color: #67A2D8;
    border-radius: 50px;
    padding: 13px 42px;
    margin-left: 40px;

    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}

.sublist_main_container{
    width: 1670px;
    height: 500px;
    border: 3px solid #E1E1E1;
    border-radius: 30px;
    margin: 40px 0;
    padding: 0px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }
    
    &:hover::-webkit-scrollbar {
        opacity: 1;
        transition: opacity 0.7s ease-in-out;
    }
    
    &:hover::-webkit-scrollbar-thumb {
        background-color: #999999;
        border-radius: 4px;
        transition: opacity 0.3s ease-in-out;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 4px;
    }
}

.sublist_main_content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 50px;
    height: 170px;
}

.sublist_content_wrapper{
    display: flex;
}

.sublist_main_img{
    border-radius: 16px;
    margin-right: 40px;
    
}

.sublist_main_img img{
    object-fit: cover;
}

.sublist_sub_name{
    width: 255px;
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    line-height : 100px;
}

.sublist_sub_date{
    color: #6C6C6C;
    font-size: 30px;
    width: 310px;
    line-height : 100px;
}

.sublist_sub_price{
    color: #000000;
    font-size: 30px;
    line-height : 100px;
}

.sublist_delBtn{
    border: 3px solid #FF566A;
    color: #FF566A;
    border-radius: 30px;
    padding: 10px 35px;

    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.sublist_line{
    height: 2px;
    width: 1567px;
    background-color: #E1E1E1;
    margin: 0 auto;
}

.sublist_total_price_wrapper{
    text-align: end;
}

.sublist_total_price_txt{
    color: #515151;
    font-size: 35px;
    font-weight: 700;
}

.sublist_total_price{
    color: #ff5678;
    font-weight: bold;
    font-size: 55px;
}