/* Nav.css */
.navbox {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 110px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.logo {
  margin-top: 30px;
  width: 264px;
  height: 57px;
}

.navbar {
  margin-left: 370px;
  align-items: center;
  display: flex;
  height: 100%;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  padding-inline-start: 0px;
  margin-right: 20px;
}

.navbar li {
  font-family: 'Orbit', sans-serif;
  height: 110px;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 600;
  color: #6c6c6c;
  cursor: pointer;
}
.navbar li a {
  height: 110px;
  display: block;
  color: #6c6c6c;
  font-size: 30px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  border-top: 7px solid transparent; /* Add a transparent border by default */
}

.navbar li a:hover {
  color: #ffb0c0;
  font-weight: bold;
  border-color: #ffb0c0; /* Change border color on hover */
}
.navbar li.active a {
  color: #ff5678;
  font-weight: bold;
  border-color: #ff5678;
}

.user_container{
  display: flex;
  margin: 0 80px;
}

.user_wrapper{
  display: flex;
  margin: 0 40px;
}

.user_login_btn{
  width: 140px;
  height: 58px;
  border-radius: 30px;
  background-color: #67A2D8;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 58px;
  margin: 0 20px;
  cursor: pointer;
}

.user_join_usernameTxt{
  font-size: 30px;
  font-weight: bold;
  color: #000;
  white-space: nowrap;
  padding-top: 10px;
  margin: 0 10px;
}

.user_join_btn{
  width: 140px;
  height: 58px;
  border-radius: 30px;
  background-color: #fff;
  color: #67A2D8;
  border: 3px solid #67A2D8;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 58px;
  margin: 0 20px;
  cursor: pointer;
}